body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #eaca2a;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #f1a327;
    color: #fff;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center;
}


#ueberuns {
    text-align: center;
}

#anfahrt {
    text-align: center;
}

#kontakt {
    text-align: center;
}

section {
    margin-bottom: 2em;
    text-align: center;
}

    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.bild1 {
    display: center;
    justify-content: left;
    align-items: center;
}

.cookies-popup {
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.cookies-popup button {
    margin-left: 20px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

